body{
    background-color: rgb(48, 155, 155);
    
}

#thead{
    color: rgb(252, 252, 252);
    text-align: center;
    background-color: rgb(107, 104, 104);    
    padding: 5px;
    margin-top: 0%;
    
}



